@import "tailwindcss";


*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home-content {
  position: relative;
  z-index: 1;
  padding: 100px 60px 120px; /* padding extra se header/footer fixos */
  text-align: center;
}