@import "tailwindcss";


*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* globals.css ou home.css */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 0;
}


.home-content {
  position: relative;
  z-index: 1; /* Acima do overlay */
  padding: 100px 20px 100px;
  color: white;
  text-align: center;
}
