.agenda-page {
  background-image: url('/imagens/foto-5.jpg');
  background-position: 100% -200px;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <- mantém a imagem fixa e contínua */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: white;
  box-sizing: border-box;
}


.agenda-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.agenda-lista {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: auto;
  padding: 3rem;
  background: rgba(16, 18, 41, 0.85);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 7px;
  box-sizing: border-box;
  overflow: hidden;
}

.agenda-lista h1,
.agenda-lista h4 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.agenda-lista h1 {
  font-size: 2.5rem;
}

.agenda-lista h4 {
  font-size: 1.5rem;
}

.evento {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.evento p,
.evento h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 1.7rem;
}

.btn-toggle {
  margin: 20px auto 0;
  display: block;
  background-color: #ffffff;
  color: #101229;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-toggle:hover {
  background-color: #f0f0f0;
  color: #000;
  transform: scale(1.03);
}



@media (max-width: 1000px) {
  .agenda-container {
    justify-content: center;
    padding: 60px 20px;
    
  }

  .agenda-page {
    background-position: center;
  }

  .agenda-lista {
    padding: 2rem;
    max-width: 100%;
  }

  .agenda-lista h1 {
    font-size: 2rem;
  }

  .agenda-lista h4 {
    font-size: 1.3rem;
  }

  .evento {
    font-size: 1.2rem;
    padding: 0.8rem 16px;
  }
  .btn-toggle {
    padding: 10px 18px;
    font-size: 0.95rem;
  }
}